# ==========================================
# Dependencias y módulos
# ==========================================
node_modules/
.pnpm-store/
.yarn/

# ==========================================
# Archivos de compilación / producción
# ==========================================
dist/
dist-zip/
build/

# ==========================================
# Archivos temporales y logs
# ==========================================
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.eslintcache

# ==========================================
# Variables de entorno y secretos
# ==========================================
# NUNCA subir claves o URLs privadas
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# ==========================================
# IDEs, Editores y Sistema Operativo
# ==========================================
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea/
*.swp
*.swo
*~
.DS_Store
Thumbs.db