APP_ENV=development

DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=ori_manager
DATABASE_USER=ori_user
DATABASE_PASSWORD=ori_dev_password
DATABASE_SSLMODE=disable

EMAIL_PROVIDER=local
BREVO_API_KEY=
EMAIL_FROM_ADDRESS=
EMAIL_FROM_NAME=ORI USB Cali
PUBLIC_FRONTEND_URL=http://localhost:5173
